.container{
    border: 0.01rem solid #e5e7eb;
    background-color: #1e293b;
    width: 48rem;
    padding: 1.25rem;
    border-radius: 1rem;
    margin-top: 5rem;
}

/* navbar */
.navbar{
    display: flex;
}
.navbar img{
    height: 2rem;
    width: 2rem;
    opacity: 0.6;
}
.navbar img:hover{
    opacity: 1;
}
.navbar button{
    background-color: transparent;
    border: none;
}

.head{
    color: white;
    text-align: center;
    font-size: 2rem;
    font-weight: 500;
    margin-bottom: 1rem;
    margin-left: auto;
    margin-right: auto;
}

.box{
    color: gray;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 90%;
}

.d{
    border: none;
    width: 100%;
    font-size: 1rem;
    border-radius: 1rem;
}

input{
    color: white;
    background-color: #0f172a;
    padding: 0.5rem;
    height: 2rem;
}
textarea{
    color: white;
    background-color: #0f172a;
    padding: 0.5rem;
    height: 10rem;
    resize: none;
    overflow: auto;
    font-family: "Ubuntu", sans-serif;
}
select{
    color: gray;
    background-color: #0f172a;
    margin-left: 0.5rem;
    height: 3rem;
    font-family: "Ubuntu", sans-serif;
}

.submit{
    color: white;
    font-weight: 400;
    margin-left: 0.5rem;
    height: 2rem;
    text-align: center;
    background-color: #4e46e5;
    border: none;
}
.submit:hover{
    box-shadow: 0px 0.4rem 1rem rgba(255, 255, 255, 0.136);
}


